<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Music App</title>
    <link rel="stylesheet" href="static/css/style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <header>
        <div class="logo">🎧 MelodyMine</div>
        <nav>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">AboutUs</a></li>
            </ul>
        </nav>
    </header>
 
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>Feel the Beat, Live the Music</h1>
            <p>Stream your favorite songs anytime, anywhere.</p>
            <p class="hero-description">
    Discover and download your favorite songs with ease. 
    Our fast and free music downloader brings you high-quality audio from a 
    wide range of artists and genres — anytime, anywhere.
</p>
        </div>
    </section>
 
    <footer>
        &copy; 2025 MelodyMine. All rights reserved.
    </footer>
</body>
</html>